<li data-timestamp="{{enqueue_time}}">
  {{name}}
  <small><time datetime="{{enqueue_time}}">{{{human_enqueue_time}}</time></small>
  {{#can_edit}}
    <a class="remove" title="Remove this name from the queue" href="javascript:void(0)">[x]</a>
  {{/can_edit}}
</li>