<li data-timestamp="{{time_enqueued}}">
  {{name}}
  <small><time datetime="{{time_enqueued}}">{{human_time_enqueued}}</time></small>
  {{#can_edit}}
    <a class="remove-link" title="Remove this name from the queue" href="javascript:void(0)">[x]</a>
  {{/can_edit}}
</li>